@import './variables';

@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

nav {
  background: $primary;
  padding: $layout-padding;
  color: $secondary-text;

  ul, li {
    list-style-type: none;
    display: inline-block;
  }

  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }

  li {
    margin-right: $layout-spacing;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-family: 'Staatliches';
    font-size: 2.2em;
    letter-spacing: 3px;
  }
}